<form [formGroup]="changeForm" (ngSubmit)="submitChange()">
  <mat-form-field><input matInput type="password" formControlName="currentPassword" placeholder="Current Password"></mat-form-field>
  <mat-form-field><input matInput type="password" formControlName="newPassword" placeholder="New Password"></mat-form-field>
  <mat-form-field><input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"></mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!changeForm.valid">Change Password</button>
</form>
