<!-- app.component.html -->

<notifier-container></notifier-container>

<!-- Top fixed header -->
<app-header></app-header>

<!-- Layout body (below header) -->
<div class="layout-body">
  <mat-sidenav-container class="layout-container">
    <mat-sidenav #drawer mode="side" [(opened)]="sidebarOpened" class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
        <footer class="footer">
          &copy; 2025 Roomy. All rights reserved.
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
